.sidebar {
  width: 420px;
  height: 100vh;
  background-color: #212121;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.sidebar_header {
  height: 56px;
  padding: 0 16px;
  align-items: center;
  display: flex;
}

.sidebar_header_icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a8a8a8;
  font-size: 18px;
  transition: background-color 0.2s;
}

.sidebar_header_icon:hover {
  background-color:rgba(45, 45, 45, 0.747);
}

.sidebar_header_input_wrapper {
  margin: 7px;
  flex-grow: 1;
  height: 42px;
  display: flex;
  position: relative;
}

.sidebar_header_input {
  flex-grow: 1;
  border-radius: 20px;
  padding: 0 44px;
  outline: none;
  border: 1px #2f2f2f solid;
  line-height: 42px;
  font-size: 16px;
  background-color: #181818;
  transition: border 0.3s;
  color: white;
}

.sidebar_header_input:hover {
  border: 1px #797979 solid;
}

.sidebar_header_input::placeholder {
  color: rgb(145, 145, 145);
}

.sidebar_header_input_icon i {
  color: grey;
  position: absolute;
  top: 11px;
  left: 15px;
  font-size: 18px;
}

.sidebar_chatlist {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 8px 8px 0 8px;
  scrollbar-width: thin;
  scrollbar-color: hsl(0 0% 50%);
}

.sidebar_chatlist_chat {
  width: 386px;
  height: 54px;
  border-radius: 10px;
  cursor: pointer;
  padding: 9px;
  display: flex;
}

.sidebar_chatlist_chat:hover {
  background-color:rgba(56, 56, 56, 0.721);
}

.sidebar_chatlist_chat_avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.sidebar_chatlist_chat_usertext {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}

.sidebar_chatlist_chat_usertext_title {
  margin: 0;
  margin-top: 5px;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.sidebar_chatlist_chat_usertext_title_time {
  right: 0;
  bottom: 0;
  position: absolute;
  color:rgb(145, 145, 145);
  font-size: 12px;
}

.sidebar_chatlist_chat_usertext_subtitle {
  margin: 0;
  margin-bottom: 5px;
  color: grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 327px;
}


/* полоса прокрутки (скроллбар) */
.sidebar_chatlist::-webkit-scrollbar {
  width: 5px;
  background-color: #dfdfdf00;
}

/* ползунок скроллбара */
.sidebar_chatlist::-webkit-scrollbar-thumb {
  background-color: #8888885d;
  border-radius: 5px;
}

.sidebar_chatlist::-webkit-scrollbar-thumb:hover {
  background-color: #484547;
}